* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div {
  border: 2px solid black;
  width: 25px;
  height: 25px;
}
body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
table,
td,
th {
  border: 2px solid black;
}
th,
td {
  height: 50px;
}
td {
  text-align: center;
  cursor: pointer;
}
th {
  padding-right: 20px;
  text-align: right;
}
